@model  IEnumerable<BDApaint.Model.CART_ITEM>
@{
    ViewBag.Title = "Chi tiết đơn hàng";

    Layout = "~/Areas/SysAdmin/Views/Shared/_Administrator.cshtml";

}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i>Chi tiết giao dịch</h1>
        <p>Bảng thông tin danh sách chi tiết giao dịch</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
    </ul>
</div>
<div class="app-title1">
    <div class="card-header" style="float:left">
        Lọc theo
        <select class="" onchange="getAllProduct(this.value)">
            <option value="-1" selected>Tất cả</option>
            <option value="0">Đang chờ duyệt</option>
            <option value="1">Đang bán</option>
            <option value="2">Đã bán</option>
        </select>
    </div>
    <div class="btn-above"><a href="@Url.Action("createS","Import_Order")" class="btn btn-primary">Nhập sản phẩm mới</a></div>
</div>
<div class="row">
    <div class="col-md-12">
        
        <div class="tile">
            <div class="tile-body">
                <table class=" table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>Mã chi tiết</th>
                            <th>Tên sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th>Giá mua</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Mã đơn hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {

                            <tr>
                                <td>@x.CART_ITEM_ID</td>
                                <td>
                                    <a href="@Url.Action("detailProduct","Product",new {id = x.PRODUCT_ID })"> @x.PRODUCT.PRODUCT_NAME</a>
                                </td>
                                <td><img src="~/Content/img2/@x.IMAGE" width="50" height="50"></td>
                                <td>@x.PRICE VND</td>
                                <td>@x.UNIT_PRICE VND</td>
                                <td>@x.QUANTITY thùng</td>
                                <td>@String.Format("{0:0,0}", x.TOTAL_MONEY)VND</td>
                                <td><a href="@Url.Action("detail","Cart",new { id = x.CART_ID})">@x.CART_ID</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
        </div>




