@model IEnumerable<BDApaint.Model.DELIVERY>

@{
    Layout = "~/Areas/SysAdmin/Views/Shared/_Administrator.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        //$("#sampleTable tfoot tr th").each(function () {
        //    var title = $(this).text();
        //    $(this).html('<input  type = "text" placeholder="' + title + '" />')
        //});
        var tables = $("#sampleTable");
        if (tables != null) {
            var table = $('#sampleTable').DataTable({
                "oLanguage": {
                    "sEmptyTable": "Không tìm thấy dữ liệu",
                    "sSearch": "<span>Tìm kiếm</span>_INPUT_",
                    "sLengthMenu": "<span>Số dòng hiển thị</span>_MENU_",
                    "oPaginate": { "sFirst": "Trang đầu", "sLats": "Trang cuối", "sNext": "Trang tiếp", "sPrevious": "Trang trước" }
                }
            });
            //table.columns().every(function () {
            //    var that = this;
            //    $("input", this.footer()).on('keyup change clear', function () {
            //        if (that.search() !== this.value) {
            //            that
            //                .search(this.value)
            //                .draw();
            //        }
            //    })
            //})
        }
    })


</script>
<script src="~/AdminContent/js/Delivery_Company/delete.js"></script>
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i>Danh sách đơn vị vận chuyển </h1>
        <p>Bảng thông tin loại vận chuyển</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
    </ul>
</div>
<div class="app-title1">
    <div class="card-header" style="float:left">
        Lọc theo
        <select class="" onchange="getAllProduct(this.value)">
            <option value="-1" selected>Tất cả</option>
            <option value="0">Đang chờ duyệt</option>
            <option value="1">Đang bán</option>
            <option value="2">Đã bán</option>
        </select>
    </div>
    <div class="btn-above">
        <a href="@Url.Action("create","Delivery")" class="btn btn-primary">
            Thêm loại vận chuyển mới
        </a>
        @*<a href="@Url.Action(" UpdateAmount","Product")" class="btn btn-primary">Cập nhật sản phẩm</a>*@
    </div>
</div>
@if (TempData["alertMessage"] != null)
{
    <div id="alertBox" class="alert @TempData[" alertType"]">
        @TempData["alertMessage"]
    </div>
    <script>
        var box = $('#alertBox');
        box.delay(4000).slideUp(500);
    </script>
}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên đơn vị vận chuyển:</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr id="row_@x.DELIVERY_ID">
                                <td>
                                    <a href="/SysAdmin/Delivery/detail/@x.DELIVERY_ID">@x.DELIVERY_ID</a>
                                </td>
                                <td>@x.DELIVERY_COMPANY_NAME</td>
                                <td>@x.DELIVERY_PHONE</td>
                                <td>@x.DELIVERY_ADDRESS</td>
                                <td>
                                    <a href="@Url.Action("edit","Delivery",new {id=x.DELIVERY_ID})" class="showEdit">
                                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <a id="deletePro" style="cursor:pointer" onclick="ConfirmDelete(@x.DELIVERY_ID)" class="show-Edit">
                                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
