@model BDApaint.Model.SUB_COLOR_GROUP

@{
    ViewBag.Title = "detail";
    Layout = "~/Areas/SysAdmin/Views/Shared/_Administrator.cshtml";

}
<style>
    .div-above-detail {
        width: 100%;
        max-height: 1200px;
        margin: 5% 0;
        background-color: #fff;
        -webkit-box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
        border-radius: 5px;
        position: relative;
    }

    dt {
        width: 40%;
        padding-left: 5%;
        float: left;
        font-weight: 600;
    }

    dd {
        width: 50%;
        padding-left: 5%;
        float: left;
    }

    .button-detail {
        width: 100%;
        margin: 10px auto;
        height: 5%;
    }

    .btn-under-detail {
        margin: 2% 1%;
    }

    .title-above-detail {
        width: 100%;
        height: 50px;
        font-size: 30px;
        text-align: center;
        line-height: 50px;
    }
</style>
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i>Trang chi tiết nhóm màu sơn</h1>
        <p>Bảng thông tin chi tiết nhóm màu sơn</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Bảng</li>
        <li class="breadcrumb-item active"><a href="#">Chi tiết</a></li>
    </ul>
</div>
<div class="app-title1">
    <div class="btn-above"><a href="@Url.Action("create","Sub_Color_Group")" class="btn btn-outline-primary">Thêm màu mới</a></div>
    <div class="btn-above"><a href="@Url.Action("edit","Sub_Color_Group",new { @id = Model.SUB_COLOR_GROUP_ID})" class="btn btn-outline-primary">Cập nhật màu sơn này</a></div>
</div>

<div class="div-above-detail">

    @if (TempData["alertMessage"] != null)
    {
        <div id="alertBox" class="alert @TempData["alertType"]">
            @TempData["alertMessage"]
        </div>
        <script>
            var box = $('#alertBox');
            box.delay(4000).slideUp(500);
        </script>
    }
    <h4 class="title-above-detail">Chi tiết nhóm màu sơn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="odd">
            Mã :
        </dt>

        <dd class="odd">
            @Html.DisplayFor(model => model.SUB_COLOR_GROUP_ID)
        </dd>
        <dt class="even">
            Mã màu:
        </dt>

        <dd class="even">
            @Html.DisplayFor(model => model.SUB_COLOR_GROUP_CODE)
        </dd>

        <dt class="odd">
            Tên:
        </dt>

        <dd class="odd">
            @Html.DisplayFor(model => model.SUB_COLOR_GROUP_NAME)
        </dd>

        <dt class="odd">
            Tên nhóm màu:
        </dt>

        <dd class="odd">
            @Html.DisplayFor(model => model.COLOR_GROUP.COLOR_GROUP_NAME)
        </dd>

    </dl>
    <div class="button-detail">
        <a href="@Url.Action("edit","Sub_Color_Group",new { @id = Model.SUB_COLOR_GROUP_ID})" class="btn btn-under-detail">Cập nhật</a>
        <a href="@Url.Action("Index","Sub_Color_Group")" class="btn btn-under-detail">Trang chủ</a>
        <a href="/Administrator/Colors/getColorByIdSub/@Model.SUB_COLOR_GROUP_ID" class="btn btn-under-detail">Danh sách màu </a>
    </div>
</div>


