@model BDApaint.Model.PRODUCT_COLOR
@{
    Layout = "~/Areas/SysAdmin/Views/Shared/_Administrator.cshtml";

}

<div class="form-for-administrator">
    <div class="form-group overwrite-formgroup">
        <div class="div-above-form">
            <h2 class="title-adiv-product">Thêm màu sản phẩm</h2>
            <hr style="height:1px;margin:5px auto" />
        </div>
        @using (Html.BeginForm("Create", "Product_Color", FormMethod.Post, new { id = "form", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <div class="sub-control">
                <label class="label-form-admin">
                    Sản phẩm :
                </label>
                @Html.DropDownListFor(model => model.PRODUCT_ID, (IEnumerable<SelectListItem>)ViewBag.product, new { @class = "form-control overwrite-formcontrol" })
                @Html.ValidationMessageFor(model => model.PRODUCT_ID, "", new { @class = "text-danger" })

            </div>

            <div class="sub-control">
                <label class="label-form-admin">
                    Màu:
                </label>
                @Html.DropDownListFor(model => model.COLOR_ID, (IEnumerable<SelectListItem>)ViewBag.color, new { @class = "form-control overwrite-formcontrol" })
                @Html.ValidationMessageFor(model => model.COLOR_ID, "", new { @class = "text-danger" })
            </div>



            <button class="btn btn-info" type="submit" name="submit" style="margin-left:20%">Cập nhật</button>
            <a class="btn btn-info" href="@Url.Action("Index","Product_Color")" style="margin-left:1%">Thoát</a>
        }
    </div>
</div>

