@{

    Layout = "~/Areas/SysAdmin/Views/Shared/_Administrator.cshtml";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i>Danh sách sản phẩm</h1>
        <p>Bảng thông tin danh sách nhập hàng</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Màu sơn</th>
                            <th>Sản phẩm</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>
                                    <a href="getDetailById/@x.PRODUCT_COLOR_ID">@x.PRODUCT_COLOR_ID</a>
                                </td>
                                <td>@x.COLOR.COLOR_NAME</td>
                                <td>@x.PRODUCT.PRODUCT_NAME</td>
                                <td>

                                    <a href="@Url.Action("edit",new {id = x.PRODUCT_COLOR_ID })" style="float:left" class="showEdit button">
                                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <a href="@Url.Action("Delete",new { id = x.PRODUCT_COLOR_ID})" style="float:left;margin-right:2px;" class="show-Edit button">
                                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>