@model IEnumerable<BDApaint.Model.PRODUCT>
@{
    Layout = "~/Areas/SysAdmin/Views/Shared/_Administrator.cshtml";
}
<style>
    .show-Edit {
        float: left;
        margin-left: 5px;
        cursor: pointer
    }

    /*tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }*/
</style>
<script src="~/AdminContent/js/productJS/delete.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sampleTable").DataTable({
            "columns": [
                { "width": "5%" },
                { "width": "20%" },
                { "width": "15%" },
                { "width": "5%" },
                { "width": "15%" },
                { "width": "5%" },
                { "width": "5%" },
                { "width": "5%" },
                { "width": "5%" },
                { "width": "5%" },
                { "width": "15%" }
            ]
            , "oLanguage": {
                        "sEmptyTable": "Không tìm thấy dữ liệu",
                        "sSearch": "<span>Tìm kiếm</span>_INPUT_",
                        "sLengthMenu": "<span>Số dòng hiển thị</span>_MENU_",
                        "oPaginate": { "sFirst": "Trang đầu", "sLats": "Trang cuối", "sNext": "Trang tiếp", "sPrevious": "Trang trước" }
                    }
        });

    })
</script>
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i>Danh sách sản phẩm</h1>
        <p>Bảng thông tin danh sách nhập hàng</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
    </ul>
</div>
<div class="app-title1">
    <div class="card-header" style="float:left">
        Lọc theo
        <select class="" onchange="getAllProduct(this.value)">
            <option value="-1" selected>Tất cả</option>
            <option value="0">Đang chờ duyệt</option>
            <option value="1">Đang bán</option>
            <option value="2">Đã bán</option>
        </select>
    </div>
    <div class="btn-above">
        <a href="@Url.Action("create","Product")" class="btn btn-primary">
            Thêm sản phẩm mới
        </a>
        @*<a href="@Url.Action("UpdateAmount","Product")" class="btn btn-primary">Cập nhật sản phẩm</a>*@
    </div>
</div>
@if (TempData["alertMessage"] != null)
{
    <div id="alertBox" class="alert @TempData["alertType"]">
        @TempData["alertMessage"]
    </div>
    <script>
        var box = $('#alertBox');
        box.delay(4000).slideUp(500);
    </script>
}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th>Thể tích</th>
                            <th>Giá</th>
                            <th>Hạn sử dụng</th>
                            <th>Mua vào</th>
                            <th>Bán ra</th>
                            <th>Số lượng còn</th>
                            <th>Coupon Code</th>
                            <th>Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@x.PRODUCT_ID</td>
                                <td>
                                    <a href="/SysAdmin/Product/detailProduct/@x.PRODUCT_ID">@x.PRODUCT_NAME</a>
                                </td>
                                <td><img src="~/Content/img2/@x.IMAGE" width="50" height="50"></td>
                                <td>@x.NET</td>
                                <td>@String.Format("{0:0,0}", @x.PRICE) VND</td>
                                <td>@x.LIMITED_USE</td>
                                <td>@x.BUYING</td>
                                <td>@x.SELL</td>
                                <td>@x.AMOUNT</td>
                                @if (x.DISCOUNT == null)
                                {
                                    <td><a href="#" id="btn-discount_@x.PRODUCT_ID" onclick="changeDiscount(@x.PRODUCT_ID)">Không có</a></td>

                                }
                                else
                                {
                                    <td><a href="#" id="btn-discount_@x.PRODUCT_ID" onclick="changeDiscount(@x.PRODUCT_ID)">@x.PRODUCT_DISCOUNT.COUPON_CODE</a></td>
                                }
                                <td>
                                    <a href="@Url.Action("Edit","Product",new {id = x.PRODUCT_ID })" class="show-Edit">
                                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <a href="@Url.Action("delete","Product",new { id = x.PRODUCT_ID})" class="show-Edit">
                                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th>Thể tích</th>
                            <th>Giá</th>
                            <th>Hạn sử dụng</th>
                            <th>Mua vào</th>
                            <th>Bán ra</th>
                            <th>Số lượng còn</th>
                            <th>Coupon Code</th>
                            <th>Tác vụ</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function changeDiscount(ids) {
        var idPro = ids;
        event.preventDefault();
        var urls = "/Sysadmin/Product/changeDiscount/";
        $.getJSON(urls, { id: idPro }).done(function (rs) {
            if (rs != null) {
                $("#myModal").modal('show');
                var modal_body = $('#modal-body');
                var valuecheck;
                var html = "";
                html += '<input hidden type="text" value="' + idPro + '" name="idPro" id="idPro" />'
                $.each(rs, function (key, x) {
                    if (x.type.toString() == "1") {
                        x.value += "$ giá trị sản phẩm"
                    }
                    else {
                        x.value += "% giá trị sản phẩm"
                    }
                    html += '<div class="row">';
                    html += '<input class="col-md-1 lstchecked" value="' + x.id + '" id="' + x.id + '" type="radio" name="type_discount"/>';
                    html += '<p class="col-md-3">' + x.name + '</p>';
                    html += '<p class="col-md-4">' + x.value + '</p>';
                    html += '<p class="col-md-4">' + x.des + '</p>';
                    html += '</div>';
                    html += '<hr/>'
                    if (x.checkbtn != 0) {
                        valuecheck = x.checkbtn;
                    }
                });               
                modal_body.html(html);
                if (valuecheck != 0) {
                    var ss = $('#' + valuecheck);
                    ss.prop("checked", true);
                }
            }
        })
    };
</script>

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chọn khuyến mãi - giảm giá</h4>
                <button type="button" javascript:void(0); class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <form id="form-modal" action="" method="post">
                <div class="modal-body" id="modal-body">

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button  class="btn btn-success" id="btn-submit-modal" type="submit" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
      $('#btn-submit-modal').click(function () {
        var id = $('#idPro').val();
        var iddc = $("input[name='type_discount']:checked").val();
        var data = { idPro: id, idDiscount: iddc };
        $.ajax({
            url : "@Url.Action("changeDiscountPro","Product")",
            data: data,
            type: "POST",
            success: function (rs) {
                if (rs.toString() != "0") {
                    $("#btn-discount_" + id).text(rs.toString());
                }
                else {
                    $("#btndiscount_" + id).text("Không")
                }
                swal("Thay đổi thành công", "Nhấn oke để tiếp tục", "success");
            },
            error: function (rs) {
                swal("Thay đổi không thành công", "Nhấn oke để tiếp tục", "error");
            }
        })
    })
</script>





