@model  IEnumerable<BDApaint.Model.IMPORT_ORDER_DETAIL>
@{
    Layout = "~/Areas/SysAdmin/Views/Shared/_Administrator.cshtml";

}
<hr />
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i>Chi tiết đơn nhập</h1>
        <p>Bảng thông tin danh sách nhập hàng</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Bảng</li>
        <li class="breadcrumb-item active"><a href="#">Danh sách nhập hàng</a></li>
    </ul>
</div>
<div class="app-title1">
    <div class="card-header" style="float:left">
        Lọc theo
        <select class="" onchange="getAllProduct(this.value)">
            <option value="-1" selected>Tất cả</option>
            <option value="0">Đang chờ duyệt</option>
            <option value="1">Đang bán</option>
            <option value="2">Đã bán</option>
        </select>
    </div>
    <div class="btn-above"><a href="@Url.Action("index","home")" class="btn btn-link btn-lg">Trang chủ</a></div>
    <div class="btn-above"><a href="@Url.Action("Index","Product")" class="btn btn-link btn-lg">Danh sách sản phẩm</a></div>
    <div class="btn-above"><a href="@Url.Action("createS","Import_Order")" class="btn btn-primary btn-lg">Nhập sản phẩm mới</a></div>
</div>
<div class="row">
    <div class="col-md-12">
        
        <div class="tile">
            <div class="tile-body">
                <table class=" table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Mã chi tiết </th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng nhập thủ tục</th>
                            <th>Số lượng nhập thực tế</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("getDetailByID","Import_Order_Detail",new {id = x.IMPORT_ID })"> @x.IMPORT_ID</a>
                                </td>
                                @*<td>
                                        <a href="/Import_Order_Detail/getDetailByIDImportDetail/@x.ID">@x.ID</a>
                                    </td>*@
                                <td>@x.ID</td>
                                <td>
                                    <a href="@Url.Action("detailProduct","Product",new { id=x.PRODUCT_ID})">
                                        @x.PRODUCT.PRODUCT_NAME
                                    </a>
                                </td>
                                <td>@x.IMPORT_AMOUNT thùng</td>
                                <td>@x.IMPORT_AMOUNT_REAL thùng</td>
                                <td>@x.IMPORT_PRICE VND</td>
                                <td> @x.IMPORT_INTO_MONEY VND</td>
                            </tr>
                        }

                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>

