@model List<BDApaint.Model.NEWS>

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!--- html.raw => chuyen du lieu ma hoa sang du lieu thong thuong   --->
<article class="container">
    <h2 class="text-center alert-info" id="title-news">@ViewBag.Title</h2>
    <div class="row" style="padding-bottom:20px; border-bottom:1px solid #6cf;">
        <div class="col-md-12">
            @using (Html.BeginForm("getSearchNews", "News", FormMethod.Post))
            {
                <form class="form-inline">
                    <input class="form-control form-control-sm" name="searchNews" required type="text" placeholder="Tìm kiếm" style="width:100%; display:inline-block;">
                    <button type="submit" class="myButton" style="background-color:#6cf; color:white;"><span class="	glyphicon glyphicon-search"></span> Tìm </button>
                </form>
            }
        </div>
    </div>
    <div class="row" style="float:left; width:70%; padding-top:10px;">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="row" id="single-news">
                <div class="row" style="float:left;">
                    <a href="@Url.Action("getDetails", "News", new {id = Model[i].NEWS_ID })">
                        <img class="" src="/Content/imgNews/@Html.Raw(Model[i].NEWS_IMG)" alt="@Model[i].NEWS_TITLE" width="500" height="300">
                    </a>
                </div>
                <div class="row" style="float:left; text-align:left;">
                    <div class="article-text">
                        <h2 class="title-content"><a href="@Url.Action("getDetails", "News", new {id = Model[i].NEWS_ID })">@Html.Raw(Model[i].NEWS_TITLE)</a></h2>
                        <ul class="list-unstyled list-inline" style="margin:0; padding:0; height:30px;">
                            <li>
                                <strong><span class="glyphicon glyphicon-calendar"></span> Thời gian đăng bài </strong>: @Html.Raw(Model[i].NEWS_DATE)
                            </li>
                            <li>
                                <strong><span class="glyphicon glyphicon-user"></span> Người đăng</strong> : @Html.Raw(Model[i].ADMIN.USERNAME)
                            </li>
                            <li>
                                <strong><span class="glyphicon glyphicon-th-list"></span> Chủ đề</strong> :<a href="@Url.Action("getDetailsNewType", "News", new { id = @Model[i].NEWS_TYPE_ID })"> @Html.Raw(Model[i].NEWS_TYPE.NEWS_NAME)</a>
                            </li>

                        </ul>
                        <p>
                            @Html.Raw(Model[i].NEWS_SUMMARY)
                        </p>
                        <a class="glyphicon glyphicon-option-horizontal btn-detail" href="/News/getDetails/@Model[i].NEWS_ID" style="font-size: xx-large;"></a>
                    </div>
                </div>


            </div>
        }
    </div>
    <div id="side-bar" style="float:right; width:30%; padding-left:30px;">
        <div class="row">
            <h2 class="widget-title" style="word-wrap: break-word; word-break: keep-all; letter-spacing: 1px; margin-bottom: 5px; border-bottom: 2px solid #6cf; width: 80%; ">
                Danh mục
            </h2>
            <ul class="item-danh-muc">
                @foreach (var item in ViewBag.typeNew)
                {
                    <li><a href="@Url.Action("getDetailsNewType", "News", new { id = @item.TYPE_NEWS_ID })">@item.NEWS_NAME</a></li>
                }
            </ul>
        </div>
        <div class="row">
            <h2 class="widget-title" style="letter-spacing: 1px; word-wrap: break-word; word-break: keep-all; margin-bottom: 5px; border-bottom: 2px solid #6cf; width: 80%; ">
                Bài viết mới nhất
            </h2>
            <ul class="item-danh-muc">
                @foreach (var item in ViewBag.newest)
                {
                    <li>
                        <a href="@Url.Action("getDetails", "News", new {id = @item.NEWS_ID })" style="color:black; text-decoration:none;">
                            @item.NEWS_TITLE<br />
                            <span class="post-date-new">
                                @String.Format("{0:dd/MM/yyyy}", @item.NEWS_DATE)
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    @*<div class="row m-3">
            <div class="col-12 text-center"><a href="#" id="see_more">Xem thêm</a></div>
        </div>*@

</article>




